.gk-generic-popup {
    width: 80%;
}

div.gk-inner-popout {
    background-color: floralwhite;
    padding: 1em;
}

.my-clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

div.gk-container {
    /*all containers have this class, and all the other css here will be under this*/
    background-color: floralwhite;
}

div.gk-container div.gk-container-displays {
    /*the div containing the display divs, owned by the container but not the top level div*/
    background-color: whitesmoke;
    padding: 0;
}

div.gk-display {
    /*top level div for all the displays*/
    clear: both;
}

div.gk-container-frame {
    /* the divs that are not part of the display parents, non client space */
    /*background-color: navajowhite;*/
    padding: 0;


}




/*Words !*/

/*Wide*/
/*Word Container*/
div.gk-container-wide-words {
    /*top level div for the words container*/
}

div.gk-container-frame div.new-word {
    /*the div that has the new word button*/
    text-align: center;
    height: 100%;
}

div.gk-container-frame div.new-word button {
    /*the button that makes new words*/
    /*margin-top: 0.5em;*/

    margin: 1em;
}


/*Word Display*/
div.gk-word-wide {
    /*top level div in the word display*/
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    border: 1px gainsboro inset;
    cursor: pointer;
}

div.gk-word-wide p {
    margin-top: 0;
    margin-bottom: 0;
}

div.gk-word-wide-innest {
    /*the top div in the display's content*/
}

div.gk-word-wide-innest  span.gk-word-type {
    color: royalblue;
}

div.gk-word-wide-innest  span.gk-word-language {
    color: darkolivegreen;
}

div.gk-word-wide-innest  p.gk-word-text {
    display: inline;
}

/*Compact*/
div.gk-container-compact-words {
    padding: 0;
    /*top level*/
}



div.gk-compact-word-header {
    background-color: whitesmoke;
}

div.gk-compact-word-header.gk-adder {
    width: 50%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
}

div.gk-compact-word-header.gk-popoff {
    width: 50%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    float:right;
    display: inline-block;
}




span.gk-compact-word-adder {
    font-size: 2em;
    color: green;
    cursor: pointer;
}

span.gk-compact-word-popoff {
    font-size: 2em;
    color: green;
    cursor: pointer;
    margin-right: 0.5em;
    float:right;
}

div.gk-word-compact {
    width: 100%;
    padding: 0.5em;
    background-color: cadetblue;
}

div.gk-word-compact p {
    margin-top: 0;
    margin-bottom: 0;
}

div.gk-word-compact-inner {
    background-color: white;
    width: 100%;
}

div.gk-word-compact-innest {

}

div.gk-word-compact-innest span.gk-word-type {
    font-size: small;
    font-weight: bold;
    margin-right: 1em;
    color: midnightblue;
}

div.gk-word-compact-innest {
    color: black;

}

div.gk-word-compact-innest p.gk-word-text {
    margin: 0;
    padding: 0.25em
}

    /*TAGS !*/

div.gk-container-wide-tags {
    /*top level div for the tag container*/
}

div.gk-tag-wide {
    /*top div in the tag display*/
}

div.gk-tag-wide input {
    width: 50em;
    margin-bottom: 0.25em;
}

/*Journals*/

div.gk-container-wide-journals {
    /*top level div for the journal container*/
}

div.gk-journal-miniframe {

}

div.gk-journal-miniframe div.journal-container {
    padding: 0;
    margin-top: 0.5em;
}

div.gk-journal-wide {
    /*top in display*/
    padding: 0.5em;
    border: 1px grey solid;
    margin-bottom: .5em ;
}

div.gk-journal-wide p {
    margin-top: 0;
    margin-bottom: 0;
}

div.gk-journal-wide div.gk-journal-text {
    /*read only journal text*/
    min-height: 6em;
    background-color: gainsboro;
    padding: 0.5em;
    border-radius: 0.5em;
    margin: 0.5em;
    font-size: 12px;

}

/*compact journals*/
.gk-container-compact-journals {
    /*outer container*/
    padding: 0;
}

div.gk-compact-journal-header {
    background-color: whitesmoke;
}

div.gk-compact-journal-header.gk-adder {
    width: 50%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    float: left;
    display: inline-block;
}

div.gk-compact-journal-header.gk-popoff {
    width: 50%;
    height: 2.5em;
    padding: 0;
    margin: 0;
    float:right;
    display: inline-block;
}




span.gk-compact-journal-adder {
    font-size: 2em;
    color: green;
    cursor: pointer;
}

span.gk-compact-journal-popoff {
    font-size: 2em;
    color: green;
    cursor: pointer;
    margin-right: 0.5em;
    float:right;
}

div.gk-journal-compact {
    /*top display*/
    width: 100%;
    padding: 0.5em;
    background-color: white;
}

div.gk-journal-compact p {
    margin-top: 0;
    margin-bottom: 0;
}

div.gk-journal-compact-inner {
    background-color: white;
    width: 100%;
}

div.gk-journal-compact-innest {
    color: black;
}

div.gk-journal-title {
    background-color: orange;
    color: black;
}

div.gk-journal-compact p.gk-journal-text {
    margin: 0;
    padding: 0.25em;
    font-size: 12px;
}

/*version*/

/*wide*/

div.gk-container-wide-versions {
    /*top level container*/
}

div.gk-version-wide {
    /*top level display*/
}

div.gk-version-wide div.version-container {
    /*holds child containers*/
}

div.gk-version-wide div.gk-version-content {
    /*holds the version data*/
    font-size: 12px;
}

div.gk-version-wide div.gk-version-content p {
    margin: 0;
    padding: 0.25em;
}

div.gk-version-wide div.gk-version-content a{

}

div.gk-version-wide div.gk-version-content span {

}

div.gk-version-wide div.gk-version-content span.gk-missing {
    font-weight: bold;
    color: purple;
}

div.gk-version-wide div.gk-version-content span.gk-title {
    font-weight: bold;
    color: #202020;
    margin-right: 1em;
}

div.gk-version-wide div.gk-version-content div.gk-text {

}

div.gk-version-wide div.gk-version-content div.gk-text p {

}

div.gk-version-wide div.gk-version-content div.gk-post-id {

}

div.gk-version-wide div.gk-version-content div.gk-post-id a {

}

div.gk-version-wide div.gk-version-content div.gk-post-id span {

}

div.gk-version-wide div.gk-version-content div.gk-website-url a {

}

div.gk-version-wide div.gk-version-content div.gk-website-url span {

}

div.gk-version-wide div.gk-version-content div.gk-website-url a {

}

div.gk-version-wide div.gk-version-content div.gk-repo-url span {

}

div.gk-version-wide div.gk-version-content div.gk-repo-url a {

}

div.gk-version-wide div.gk-version-content div.gk-repo-url span {

}

div.gk-compact-container-header {
    height: 4em;
    text-align: center;
}

div.version-compact-thing {
    /*margin: 1em;*/
    margin-bottom: 2em;
    border: 2px grey solid;
}

div.compact-version-title {
    width: 100%;
    height: 2.5em;
    background-color: yellowgreen;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

div.compact-version-title a {
    color: darkgreen;
    font-size: 2em;
}